* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(315deg, grey 0%, white 74%);
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(white 0%, grey 90%);
    box-shadow: 0 0 20px black;
    border-radius: 10px;
}


.popup {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 90%;
    top: -150px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px black;
}

.active {
    top: 30px;
}

.popup p {
    width: 90%;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
}

button {
    padding: 5px 10px;
    border-style: none;
    border: 1px solid black;
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
    text-transform: uppercase;
}

.popup button {
    margin-bottom: 10px;
    text-transform: uppercase;
}
button:hover {
    background-image: linear-gradient(315deg, white 0%, grey 74%);
}

h1 {
    margin: 20px;
    text-transform: uppercase;
}

.error-text {
    margin: 5px 0;
    visibility: hidden;
    color: red;
}

.from-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

input {
    width: 90%;
    padding: 5px 10px;
    border-radius: 5px;
}

label {
    width: 90%;
    margin-bottom: 5px;
}

.control-buttons {
    margin: 20px;
}

.control-buttons button {
    margin: 5px 10px;
    padding: 10px 20px;
    font-size: 15px;
    transition: .3s;

}

input:focus {
    background-color: #C6CECE;
    color: black
  }

button:focus {
    outline:0;
}